body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
    width: 100%;
    display: table;
}

li {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: black;
   
}

.text-center {
    text-align: center;
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}
